
header{
    background-color:rgb(0, 0, 128);
    color:rgb(255, 255, 255);
    text-align: center;
    

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'roboto',sans-serif;
    
    
}


nav{
  background-color:rgb(0, 0, 128);
  
  
          
  }

nav a{
    color:rgb(255, 255, 255);
    padding:10px;
    text-decoration:none;
  }  

    


nav a:hover{
    background-color: rgb(240, 248, 255);
    color:rgb(225, 18, 156);
    
   
    
}
    

section {
  padding: 20px ;
  margin: 5px ;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}


table{
    border:1px solid blue;
    padding : 5 px;
    margin:auto;

}
table th{
    background-color:blue;
}

li{
    padding:20px;
    margin:5px;
    border:solid 1px black;
  }
button{
    background-color: rgb(0, 0, 255);
    
    
}
button:hover{
    color:rgb(255, 0, 191);
    padding: 10px;
    border-radius: 10px;

}

a[href="#top"]{
    position: fixed;
    bottom : 20px;
    right: 20px;
    z-index:10000;
    background-color: rgb(0, 0, 255);
    color:rgb(255, 255, 255);
    text-align: center;


}

img{
    box-shadow :10px rgb(0,0,0);
    border-radius: 1000px;
    
}

